.form {
    display: flex;
    flex-wrap: wrap;
}

.formGroup {
    width: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.select {
    display: block;
}

.btnGroup {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.btn {
    margin: 0 10px;
    min-width: 7%;
}
